<div class="container" [class.is-mobile]="mobileQuery.matches">
	<mat-toolbar color="primary" class="toolbar">
		<button
			@scale
			*ngIf="mobileQuery.matches"
			mat-icon-button
			aria-label="icon-button with menu icon"
			(click)="sidenav.toggle()"
		>
			<mat-icon>menu</mat-icon>
		</button>

		<a class="app-title" [routerLink]="AppRoutePath.HOME">ngx-nuts-and-bolts</a>

		<span class="spacer"></span>

		<button mat-icon-button aria-label="icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</button>

		<button mat-icon-button aria-label="icon-button with share icon">
			<mat-icon>share</mat-icon>
		</button>
	</mat-toolbar>

	<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav
			#sidenav
			[opened]="!isMobileInitially"
			[mode]="mobileQuery.matches ? 'over' : 'side'"
			[fixedInViewport]="mobileQuery.matches"
			fixedTopGap="56"
		>
			<div class="menu-content">
				<mat-nav-list (click)="mobileQuery.matches && sidenav.close()">
					<a mat-list-item routerLinkActive="active" [routerLink]="AppRoutePath.COMPONENT_WITH_LOADING_STATE">
						Component with loading state
					</a>
				</mat-nav-list>

				<div class="spacer"></div>

				<a class="infinum-link" href="https://infinum.com" rel="noopener">
					<img class="infinum-logo" src="assets/images/infinum.png" />
				</a>
			</div>
		</mat-sidenav>

		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
