<div class="breadcrumbs" *ngIf="breadcrumbs$ | async as breadcrumbs">
	<div *ngIf="topLevelLink" class="breadcrumb">
		<a [routerLink]="topLevelLink.url">{{ topLevelLink.label }}</a>
		<span *ngIf="breadcrumbs.length" class="separator">></span>
	</div>

	<div class="breadcrumb" *ngFor="let breadcrumb of breadcrumbs; let last = last">
		<a [routerLink]="breadcrumb.url">
			<ng-container *ngIf="isString(breadcrumb.data)">
				{{ breadcrumb.data }}
			</ng-container>

			<ng-container *ngIf="isCustomerLocationWithCustomerData(breadcrumb.data)">
				<select (change)="onLocationChange($event, breadcrumb.data.customer.id)">
					<option
						*ngFor="let location of breadcrumb.data.customer.locations"
						[attr.value]="location.id"
						[attr.selected]="location.id === breadcrumb.data.location.id || null"
					>
						{{ location.name }}
					</option>
				</select>
			</ng-container>
		</a>
		<span *ngIf="!last" class="separator">></span>
	</div>
</div>
