:host {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 8px;
	align-items: flex-start;
	border: 2px solid #ccc;
	border-radius: 16px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	.breadcrumb {
		padding: 8px;
	}
}

.separator {
	margin-left: 16px;
}

select {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-size: 1rem;
}
